.home-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.home-img {
    width: min(35vh, 35vw);
    height: min(35vh, 35vw);
    padding-top: min(15vh, 15vw);
    padding-bottom: min(15vh, 15vw);
    animation: planet 20s infinite ease-in-out;
}